/**
 * Onboarding Stylesheet.
 * -----------------------------------
 * DEVELOPED-MAINTAINED-SUPPPORTED BY
 * -----------------------------------
 * ███║     ███╗   ████████████████
 * ███║     ███║   ═════════██████╗
 * ███║     ███║        ╔══█████═╝
 *  ████████████║      ╚═█████
 * ███║═════███║      █████╗
 * ███║     ███║    █████═╝
 * ███║     ███║   ████████████████╗
 * ╚═╝      ╚═╝    ═══════════════╝
 */

:root {
  --dark: #09171e;
  --dark-alt: #0a1a22;
  --night-blue: #263238;
  --white: #fff;
  --success: #009688;
  --error: #ac2222;
  --error-alt: #c02626;
	--error-disabled: #7b3939;
	--error-bg: #2e1114;
  --gray: rgb(238, 238, 238);
  --mild-gray: #cccccc;
  --hard-gray: #808080;
  --bluish: #0d92a0;
  --mild-green: #a7ecc9;
  --dark-orange: #d84315;
  --shadow: #0c2a3a;
  --steps-offset: 240px;
  --steps-offset-mobile: 100px;
  --top-offset: 100px;
}

/* common */
h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--white);
}
ol,
ul {
  padding-inline-start: 0;
  list-style: none;
}
a {
  color: var(--hard-gray);
  text-decoration: none;
}
input[type="text"],
textarea {
  font-size: 1em;
  background: var(--dark-alt);
  border: 2px solid black;
  border-radius: 5px;
  width: calc(100% - 36px);
  min-height: 50px;
  color: var(--white);
  font-family: Titillium Web;
  padding: 15px;
  border: 3px solid var(--dark-grey);
  transition: border 0.2s ease-in-out;
}
textarea {
  resize: vertical;
}
input:not([type="file"], [type="image"]):focus-visible,
select:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--bluish);
}
fieldset {
  padding-inline: 0;
  padding-block: 0;
  margin-inline: 0;
  margin-bottom: 30px;
  border: none;
}
fieldset.onboarding-actions {
  margin-top: 60px;
  margin-bottom: auto;
}
form .desc {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: 0.9em;
  color: var(--hard-gray);
}
.hz_flx {
  display: flex;
  flex-direction: row;
}
.hz_flx.row.center {
  align-items: center;
  justify-content: space-between;
}
.hz_flx.column {
  flex-direction: column;
}
.hz_flx.column.center {
  justify-content: center;
}
.button {
  border-radius: 5px;
}

/* main elements */
body {
  background-color: var(--dark);
  font-family: "Titillium Web", sans-serif;
  color: var(--mild-gray);
  margin: 0;
}
header {
  position: fixed;
  min-height: calc(var(--top-offset) - 20px);
  top: 0;
  width: 100%;
  background-color: var(--dark-alt);
}
header h1 {
  padding-block: 10px;
}
header img {
  max-height: calc(var(--top-offset) - 40px);
}
main {
  padding: 0 15px;
  margin: calc(var(--top-offset) + 20px) 15px 50px var(--steps-offset-mobile);
}
.onboarding_steps {
  position: fixed;
  top: var(--top-offset);
  bottom: -20px;
  left: 0;
  text-align: left;
  width: var(--steps-offset-mobile);
  height: 100%;
  overflow-y: auto;
}
header,
.onboarding_steps {
  z-index: 999999;
}
header a.button {
  padding: 12px 20px;
  background: var(--primary-focus);
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: var(--light-gray-bold);
  transition: all 0.3s ease-in-out;
}
header a.button:hover {
  background: var(--primary);
}
.steps_wrapper {
  margin: 0;
}
.onboarding_content {
  max-width: 800px;
  margin: auto;
  /* background-color: var(--dark-alt); */
  border-radius: 10px;
  padding: 30px;
  overflow: hidden;
}
.onboarding_image_wrapper {
  text-align: center;
  padding: 30px 30px 0;
  margin: -30px -30px 30px;
  /* background-color: var(--shadow); */
}
.onboarding_image_wrapper > * {
  max-width: 600px;
}
.steps_wrapper {
  padding: 50px 15px;
  margin-bottom: 50px;
}
.steps_wrapper > li {
  color: var(--hard-gray);
  padding: 0 10px 40px 0;
  position: relative;
  left: 25px;
}
.step.active {
  color: var(--bluish);
  font-weight: 700;
  line-height: 25px;
}
.steps_wrapper li:not(:last-of-type):before {
  content: "";
  position: absolute;
  height: calc(100% - 23px);
  width: 2px;
  left: 11px;
  top: 26px;
  background-color: var(--gray);
  z-index: 5;
}
.steps_wrapper li.active:not(:last-of-type):before {
  background-color: var(--bluish);
}
.onboarding_step_counter {
  color: var(--mild-gray);
  background: var(--hard-gray);
  font-size: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 9999999px;
  border: 2px solid var(--gray);
  text-align: center;
  line-height: 20px;
  position: relative;
  z-index: 6;
  top: 0;
  left: 0;
}
.step.active .onboarding_step_counter {
  background: var(--bluish);
  color: var(--gray);
  border-color: var(--mild-green);
  font-weight: 600;
}
.only_desktop {
  display: none;
}
.onboarding_step_name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(var(--steps-offset) - 80px);
  vertical-align: middle;
  margin-left: 15px;
}
.onboarding_step_desc {
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.4em;
  margin-left: 40px;
}
.step.done {
  color: var(--dark-grey);
}
.steps_wrapper li.step.done:before {
  background-color: var(--mild-green);
}
.step.done .onboarding_step_counter {
  background-color: var(--mild-green);
  border-color: var(--mild-green);
  color: var(--success);
}
.onboarding-actions .button {
  color: var(--hard-gray);
  transition: all 0.3s ease-in-out;
}
.onboarding-actions .button:not(.disabled):hover {
  color: var(--light-gray-bold);
}
a.hz_dyn_btn.disabled {
  opacity: 0.5;
  filter: saturate(0.2);
  cursor: not-allowed;
}
.onboarding-actions.hz_flx {
  text-align: center;
}
.onboarding-actions.hz_flx > * {
  margin-bottom: 15px;
}
.button-next {
  cursor: pointer;
}
.hz_btn__skip {
  color: var(--hard-gray);
}
input.button-next {
  background: transparent;
  border: none;
  font-size: 1em;
}
.onboarding-actions .button.hz_btn__prim {
  color: var(--primary-focus);
}
.onboarding-actions .button.hz_btn__prim:hover {
  color: var(--primary);
}
.onboarding-actions .button.hz_btn__nav.disabled {
	color: var(--night-blue);
}
.onboarding-actions .button.hz_btn__prim.disabled {
	color: var(--shadow);
}
.onboarding-actions .button.disabled {
	cursor: wait;
}
#hz_dyn_btnWrapper.installed {
  text-align: right;
  margin-top: 50px;
  font-weight: 600;
}

/****************************************
 --- DEPENDENCY PLUGIN BUTTON STYLING ---
 ***************************************/
.hz_install_depl_wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  box-shadow: inset 0 0 86px #06131a;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
}
.hz_install_depl_msg {
  margin-bottom: 50px;
  text-align: center;
}
.hz_install_depl_msg p {
  color: var(--error-alt);
  font-size: 0.9em;
  font-weight: 600;
}
.hz_install_depl {
  min-height: 100px;
}
#hz_install_depl:disabled {
  cursor: not-allowed;
}
.hz_install_depl:not(.installed) #hz_install_depl,
.hz_install_depl > a {
  text-decoration: none;
  background-color: var(--error);
  border: none;
  border-radius: 5px;
  color: var(--gray);
  padding: 1.5em 2em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.newTab {
  display: inline-block;
  border: 1px solid var(--gray);
  height: 12px;
  width: 12px;
  line-height: 12px;
  text-align: center;
  font-size: 10px;
  vertical-align: top;
  margin-left: 2px;
}
.hz_install_depl:not(.installed) #hz_install_depl:hover,
.hz_install_depl > a:hover {
  background-color: var(--error-alt);
  box-shadow: 0px 10px 60px rgba(5, 5, 5, 0.5);
}
.hz_install_depl.installing #hz_install_depl {
  width: 350px;
  height: 7px;
  padding: 0;
  background-color: var(--error-alt);
  border: none;
}
.hz_install_depl.installing .install_loader {
  width: 20px;
  height: 3px;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgba(250, 250, 250, 0.3), #666);
  animation: slide infinite 0.75s linear;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}
.hz_install_depl.installed #hz_install_depl {
  color: var(--dark-orange);
  font-size: 1em;
  font-weight: 600;
  background: none;
  border: none;
}
#hz_install_depl.hz_flx {
  align-items: center;
}
@keyframes slide {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 330px;
  }
}

@media screen and (min-width: 48em) {
  .steps_wrapper > li {
    left: auto;
  }
  main {
    margin: calc(var(--top-offset) + 20px) 15px 50px var(--steps-offset);
  }
  .onboarding_steps {
    width: var(--steps-offset);
  }
  .only_desktop {
    display: inline-block;
  }
  .onboarding_step_desc.only_desktop {
    display: block;
  }
  .onboarding-actions.hz_flx.column.center {
    flex-direction: row;
    justify-content: flex-end;
  }
  .hz_btn__prev {
    margin-right: auto;
    align-self: flex-start;
  }
  .hz_btn__skip {
    margin-right: 15px;
  }
}

/****************************************
 --- FROM SETTING FRAMEWORK STYLING ---
 ***************************************/
/* define vars */
:root {
  --primary: #009688;
  --primary-focus: #00796a;
  --primary-defocus: rgb(224, 242, 241);
  --primary-border: rgba(0, 150, 136, 0.5);
  --secondary: #d50000;
  --secondary-focus: #b71c1c;
  --secondary-shadow: rgba(213, 0, 0, 0.3);
  --white: #fff;
  --dark-grey: #546e7a;
  --shadow-dark: rgba(0, 0, 0, 0.1);
  --light: #f4f4f4;
  --light-gray: #eee;
  --light-gray-bold: #ccc;
  --medium-gray: #80808080;
  --gutter: 8px;
  --gutter-offset: 16px;
}

/* common */
h1 {
  line-height: 1.3em;
}
.hz_container_content h2 {
  text-align: center;
}
h1 + small {
  color: var(--white);
}

/* general styling */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border-color: var(--primary-focus);
}
.hz_switcher_control input:focus:before {
  background: var(--primary);
}
.form-table td p.description {
  font-size: 0.95em;
  line-height: 1.6em;
}
span.option_notice {
  display: block;
  margin-top: 5px;
}
span.option_notice.alert {
  color: var(--secondary-focus);
}
span.option_notice.success {
  color: var(--primary-focus);
}
.hz_flx .hz_flx_content {
  flex-basis: 100%;
}
.hz_flx_content * {
  line-height: 1.4em;
  margin-bottom: 0;
}
.hz_lrg_content,
.hz_mdm_content.hz_content_first {
  margin-bottom: calc(var(--gutter-offset) + var(--gutter-offset));
}
.hz_lrg_content {
  flex: auto;
}
.hz_icon {
  width: 15px;
  height: 15px;
  padding-right: 10px;
}
.hz_control_field label {
  position: relative;
  display: flex !important;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}
.hz_switcher_control.disabled * {
  cursor: not-allowed;
  color: var(--error-disabled);
}
.hz_switcher_control input {
  visibility: hidden;
  opacity: 0;
	position: absolute;
	left: -100px;
	appearance: none;
	z-index: -99;
}
.hz_switcher_control .hz_switcher:before {
  background: var(--gray);
  box-shadow: inset 0px 0px 10px var(--dark);
  border-radius: 8px;
  content: "" !important;
  top: 5px;
  right: 0 !important;
  height: 16px !important;
  margin: 0 !important;
  position: absolute;
  opacity: 0.3 !important;
  transition: all 0.4s ease-in-out;
  width: 40px !important;
}
.hz_switcher_control input:checked + .hz_switcher:before {
  background: var(--primary-focus) !important;
  opacity: 0.5;
}
.hz_switcher_control .hz_switcher:after {
  background: var(--dark-grey) !important;
  border-radius: 16px;
  box-shadow: 0px 0px 5px var(--shadow-dark);
  content: "" !important;
  height: 24px !important;
  right: 16px !important;
  position: absolute;
  top: 1px;
  transition: all 0.3s ease-in-out;
  width: 24px !important;
}
.hz_switcher_control input:checked + .hz_switcher:after {
  background: var(--primary-focus) !important;
  right: 0 !important;
}
.hz_switcher_control input:focus + .hz_switcher:before {
  background: var(--primary-focus) !important;
}
.hz_switcher_control.disabled .hz_switcher:before {
  background: var(--error);
}
.hz_switcher_control.disabled .hz_switcher:after {
  background: var(--error-disabled) !important;
}
.hz_switcher_label {
  max-width: calc(100% - 60px);
}
.hz_radio_field > .hz_card_control {
  padding: 20px;
  border: 3px solid var(--dark-grey);
  border-radius: 5px;
}
.hz_card_control input {
  position: absolute;
  left: -9999px;
  opacity: 0;
  visibility: hidden;
}
.hz_card_info {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border: 3px solid var(--dark-alt);
  border-radius: 10px;
}
.hz_card_control input + .hz_card_info {
  position: relative;
  padding-left: 60px;
  cursor: pointer;
  line-height: 20px;
  color: var(--hard-gray);
  border: 2px solid var(--shadow);
}
.hz_card_control input + .hz_card_info:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid var(--dark-alt);
  border-radius: 100%;
  background: var(--bluish);
  transform: translateY(-50%);
}
.hz_card_control_wrapper:not(.hz_radio_selected)
  .hz_card_control
  input
  + .hz_card_info:before {
  background: var(--dark-grey);
}
.hz_card_control input + .hz_card_info:after {
  content: "";
  width: 12px;
  height: 12px;
  background: var(--shadow);
  position: absolute;
  top: calc(50% - 6px);
  left: 19px;
  border-radius: 100%;
  transition: all 0.2s ease;
}
.hz_card_control input:not(:checked) + .hz_card_info:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.hz_card_control input:checked + .hz_card_info:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.hz_card_control_wrapper.hz_radio_selected .hz_card_info {
  color: var(--light-gray-bold);
  background: var(--dark-grey);
  transition: all 0.2s ease-in-out;
}
.hz_onboarding_image_icon figure,
.hz_onboarding_image_icon figure img {
  width: 85px;
  height: 85px;
  margin: 0 15px 0 0;
}
.hz_onboarding_image_icon figure img {
  object-fit: contain;
}
.recommended-plugin.hz_switcher_control {
  border: 2px solid var(--shadow);
  border-radius: 10px;
  padding: 20px;
  margin-block: 20px;
}
.recommended-plugin.hz_switcher_control.disabled {
  border-color: var(--secondary-shadow);
	position: relative;
}
.recommended-plugin-desc {
  flex-basis: calc(100% - 180px);
}
.recommended-plugin .hz_switcher:before,
.recommended-plugin .hz_switcher:after {
  top: 50%;
  transform: translateY(-50%);
}
.hz_recommended_active_notice {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--error-bg);
	width: 100%;
	height: 100%;
	color: #fff !important;
	justify-content: center !important;
	border-radius: 10px;
	opacity: 0 !important;
	transition: all 0.3s ease-in-out;
}
.hz_recommended_active {
	opacity: 1 !important;
}
.hz_switcher_control.disabled .hz_recommended_active * {
	color: var(--hard-gray);
}
.onboarding-recommended-info {
	min-height: 160px;
	background: var(--shadow);
	border-radius: 10px;
	align-items: center;
	text-align: center;
	padding: 15px;
}
.onboarding-recommended-info > * {
	margin-block: 0;
}
.onboarding-recommended-info .label > span {
	display: inline-block;
	vertical-align: middle;
}
.onboarding-recommended-info .label .count {
	font-size: 2em;
	color: var(--bluish);
	font-weight: bold;
	margin-right: 5px;
}
.onboarding-recommended-info .label .select {
	margin-block-start: 0.4em;
}
.onboarding-recommended-info .label .select,
#onboarding-recommended-names > span  {
	font-size: 0.8em;
}
#onboarding-recommended-names > span {
	padding-block: 2px;
	padding-inline: 30px 10px;
	display: inline-block;
	border-radius: 9999px;
	border: 2px solid var(--dark-grey);
	margin-block-start: 10px;
	margin-inline: 3px;
	position: relative;
}
#onboarding-recommended-names > span svg {
	max-width: 10px;
	margin-right: 5px;
	border-radius: 12px;
	background-color: var(--light-gray-bold);
	padding: 4px;
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
}
#onboarding-recommended-names > span svg .primary {
	fill: var(--primary);
}
#onboarding-recommended-names > span svg .secondary {
	fill: var(--primary-border);
}

/* select2 */
.select2-container .select2-selection {
  display: flex;
  align-items: center;
  height: 50px;
  border: 2px solid var(--dark-grey);
  background-color: var(--dark-grey);
}
.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: var(--light-gray-bold);
}
.select2-container .select2-selection[aria-expanded="true"] {
  border-color: var(--primary-border);
}
.select2-container .select2-selection > span[role="textbox"] {
  font-weight: 600;
  color: var(--light-gray-bold);
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 47px;
  width: 35px;
}
select2-selection[aria-expanded="true"]
  .select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent var(--primary-border) transparent;
}
.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent var(--light-gray-bold) transparent;
}
select2-selection[aria-expanded="true"]
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: var(--primary-border) transparent transparent transparent;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-width: 7px 7px 0 7px;
  border-color: var(--light-gray-bold) transparent transparent transparent;
}
.select2-container .select2-dropdown {
  border: 2px solid var(--light-gray-bold) transparent transparent transparent;
  background: var(--dark-grey);
}
.select2-search--dropdown {
  display: none;
}
.select2-container .select2-dropdown .select2-results ul li {
  line-height: 2.5em;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  border-radius: 3px;
}
.select2-container
  .select2-dropdown
  .select2-results
  ul
  li.select2-results__option--highlighted {
  line-height: 2.5em;
  font-weight: 600;
  color: var(--dark-alt);
  background-color: transparent;
}
.select2-container
  .select2-dropdown
  .select2-results
  ul
  li[aria-selected="true"] {
  background-color: var(--bluish);
  color: var(--white);
}
.spin {
  animation: spin 20s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
